*{
    margin: 0;padding: 0;box-sizing: border-box;
}
.body_container{
    display: flex;
    justify-content: space-around;
    align-items: center;
    color:#000; 
    flex-wrap: wrap;  
    margin-bottom: -5px;
}
.body_container .right_child{
    width: 55vw;
    /* padding-left:6vw; */
    /* min-width: 550px; */
    /* width: 650px; */
}
.body_container .left_child{
    width:40vw;
    min-width: 300px;
    max-width: 550px;
    color:#000; 
   padding: 5px;
}
.body_container div h1{
    width: 250px;
    margin-bottom: 30px;
}
.body_container .right_child img{
    width: 25vw;
    max-width: 300px;
    
}
.body_container .left_child .stores img{
    width: 150px;
    margin-top: 30px;
}
@media (max-width:750px) {
    .body_container .right_child{
        display: none;
    }
   
    .body_container .left_child{
        width: 60vw;
    }
}